@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
/*nav-bg{
    background-color: #fff;;
    
}*/

.nav-item:hover{
    border-radius: 40px;
   background:#3399ff;
   color: #3399ff;
    }

.nav-item a{
    font-family: 'Yusei Magic', sans-serif;
    color:#000; 
   
}
/*.nav-item a:hover {
   
    color: white;
    
}
.content{
 
    background:#f7f7f7;
}*/
a:hover{
    text-decoration: none;
}
.c{
    min-height: calc(100vh - 40px - 30px);
    flex-wrap: wrap;
}